<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<div class="about content">
			<h2>About Us</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque,
				ratione sequi. Assumenda tempore laboriosam temporibus? Quibusdam
				similique voluptates quaerat repudiandae ratione id aspernatur animi
				alias maxime illo, corrupti vero obcaecati.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque,
				ratione sequi. Assumenda tempore laboriosam temporibus? Quibusdam
				similique voluptates quaerat repudiandae ratione id aspernatur animi
				alias maxime illo, corrupti vero obcaecati.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque,
				ratione sequi. Assumenda tempore laboriosam temporibus? Quibusdam
				similique voluptates quaerat repudiandae ratione id aspernatur animi
				alias maxime illo, corrupti vero obcaecati.
			</p>
		</div>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>
