<nav>
	<div class="site-title">
		<h1><a href="/">blog site</a></h1>
		<p>A viren's product</p>
	</div>
	<ul>
		<li><a href="/">Blogs</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/blogs/create">New Blog</a></li>
	</ul>
</nav>
